html {
font-family: Quicksand, Helvetica;
font-size: 18px;
font-weight: bold;
color: #7F7C7B;
}
.maincontent {
margin-bottom: 32px;
}
.banner {
/*display: flex;*/
width: 100%;
height: auto;
}
.desktop, footer, {
width: 100%;
height: 64px;
display: flex;
justify-content: space-between;
align-items: center;
}
.mobile {
width: 100%;
height: 64px;
}
.desktop ul li, footer ul li, {
padding: 16px;
}
#navButtons, .mobile ul, footer ul {
display: flex;
justify-content: space-around;
/*trying this out*/
height: 100%;
align-items: center;
}
#navButtons {
justify-content: flex-end;
padding-bottom: 40px;
}
#navButtons a, footer a {
text-decoration: none;
color: grey;
padding: 16px;
}
#navButtons a:hover, footer a:hover {
text-decoration: underline;
}
.companyname {
display: flex;
align-items: center;
width: 50%;
}
.companyname img {
height: 3rem;
padding-left: 24px;
}
#readingPic {
margin: 32px 24px;
width: 60%;
height: 600px;
}
.maincontent {
width: 100%;
height: auto;
}
#midTop {
display: flex;
align-items: center;
background-color: lightgray;
}
#slogan,
/*.sidewords {*/

{
margin-left: 40px;
}
#midTop h1 {
font-size: 3rem;
color: #7F7C7B;
font-weight: bold;
margin-bottom: 2rem;
}
#midTop p {
font-size: 1.5rem;
color: #7f7c7b;
}
#midTop a {
width: 20rem;
text-decoration: none;
color: white;
margin-top: 2rem;
text-align: center;
padding: 8px 0;
background-color: #7f7c7b;
display: block;
}
#first {
color: black;
}
@media only screen and (max-width: 959px) {
#navButtons,
#first,
#second,
.midmain,
.coursePic,
.courseTitle p {
  display: none;
}
.midside {
  width: 100%;
  align-self: center;
}
}
@media only screen and (min-width: 960px) {
.mobile {
  display: none;
}
nav .main {
  color: lightgray;
}
.midsection {
  display: flex;
  height: 750px;
  margin-top: 32px;
  margin-left: 24px;
  width: 100%;
}
hr {
  width: 70%;
}
.midmain h2 {
  font-size: 2.25rem;
  margin-top: 32px;
  margin-bottom: 24px;
}
.midmain img {
  width: 100%;
}
.midmain p {
  line-height: 1.2rem;
  font-size: 1.5rem;
}
.midmain {
  width: 60%;
  height: auto;
  padding-right: 24px;
}
.sideWords {
  display: flex;
  justify-content: space-between;
  height: 25%;
  margin: 16px 0;
  /*margin: 32px;*/
}
.sideWords:first-child {
  margin-top: 0;
}
.sideWords img {
  width: 35%;
}
.sideWords h3 {
  font-size: 1.2rem;
  font-weight: bolder;
}
.midside {
  width: 423px;
  display: block;
}
.stuffTodo, .thesisStuff {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding-left: 16px;
}
/*.midside img {width: 50%;
}*/
#testimony {
  margin-top: 2rem;
  font-size: 1rem;
}
.courses {
  margin: 0 auto;
  align-self: center;
  background-color: lightgray;
  text-align: center;
}
.courses h3, .thesis h3 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 32px;
  margin-bottom: 32px;
}
.coursecontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*#software, #computer, #design, #data, #business, #marketing */
.courseTitle
{
  width: 30%;
  margin-bottom: 32px;
  background-color: white;
  text-align: left;
}
.coursecontainer h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 16px;
}
/*#softwarePic, #computerPic, #designPic, #dataPic, #businessPic, #marketingPic */
.coursePic
{
  height: auto;
  width: 100%;
}
p.title {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.coursecontainer p {
  padding-bottom: 24px;
  padding-left: 16px;
}
.courses, .thesis {
  margin: 0 24px;
  align-self: center;
  /*text-align: center;*/
}
.thesis h3 {
  text-align: center;
}
.visualcontainer {
  display: flex;
}
.mainvideo {
  /*padding-bottom: 25%;*/
  /*height: 0;*/
  width: 65%;
  margin: 0 auto;
}
.mainvideo video {
  /*top: 0;
left: 0;*/
  width: 100%;
  height: 100;
}
.mainvideo h2 {
  font-size: 1.5rem;
}
.visualcontainer p {
  padding-top: 16px;
  padding-bottom: 32px;
}
.thesissidebar {
  display: flex;
  flex-direction: column;
  /*margin-left: 16px;*/
}
/*.thesisStuff p {margin-left: 16px;
}*/
#fisma, #research {
  display: flex;
  height: 168px;
  width: 423px;
}
#fisma h4, #research h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 16px;
}
#fisma img, #research img {
  height: 136px;
  width: 136px;
  margin: 16px;
}
.thesissidebar img {
  height: 160px;
}
footer {
  margin-top: 32px;
  margin-left: 24px;
}
footer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}
footer span {
  width: 100%;
}
